


.container-fluid mencol
{
    color: green !important;
}
.xechqanday:before{
    width: 40px;
    height: 3px;
    display: block;
    background-color: #10E114;
    content: " ";
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}
.corbut
{
    z-index: 999;
}
.carousel-caption {
    position: absolute;
    margin: 20% 0%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 33%;
    margin-bottom: 1rem;
    margin-left: -35%;
    list-style: none;
}
/*corusel and*/

/*button*/
.textbut{
    align-items: center;
    text-align: center;
    display: flex;
}
.textbut a{
    text-decoration: none;
    color: white;
    border: 1px solid darkgreen;
    display: block;
    padding: 10px;
    width: 130px;
    margin: 30px;
    background-color: darkgreen;
    transition: 0.5s;
}
.textbut a:hover {
    background: transparent;

}

/*chegirma*/
.chegim img{
    width: 150px;
    height: 150px;
    margin-left: 22%;
    justify-content: center;
    align-items: center;
}
.chegbg{
    background-color: #0F1827;
    color: white;
    display: flex;
}
.texx{
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin: 10px 5%;
}
.texx h3{
    color: limegreen;
}
/*and*/

/*mijoz fikri*/
/* General Style */
.ugl {
   justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    --bs-gutter-x: 6.5rem;

}

.wrapper {
    height: 300px;
    width: 250px;
    border: 5px solid #61412D;
    position: relative;
    /* 3D */
    perspective: 1000px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.door {
    background-color: #61412D;
    height: 100%;
    width: 50%;
    position: absolute;
    /* inner layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#left-door {
    top: 0;
    left: 0;
    border-right: 1px solid black;
    /* transition */
    transform-origin: left;
    transition: transform 0.5s;
}

#right-door {
    top: 0;
    right: 0;
    border-left: 1px solid black;
    /* transition */
    transform-origin: right;
    transition: transform 0.5s;
}

.shape {
    border: 4px solid black;
    width: 100px;
    height: 130px;
}

.knob {
    width: 10px;
    height: 50px;
    background-color: #D7DADE;
    position: absolute;
}

#left-knob {
    top: 50%;
    right: 10px;
}

#right-knob {
    top: 50%;
    left: 10px;
}

/* Door swing effect */
.wrapper:hover #left-door{
    transform: rotateY(-140deg);
}

.wrapper:hover #right-door{
    transform: rotateY(140deg);
}
/*end*/
/*afzalliklar*/
.afzal{
    border-radius: 15px;
    border: 1px solid #ccc;
    min-height: 300px;
}
.bgafzal{
    background-color: #10E114;
}
.afzal img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.afzal h4, p{
    text-align: center;
    margin: 2px 5px;
}


/*and*/

.maxstak{
    background-color: limegreen;
}

.gamin img{
    background: white;
    border: 2px solid limegreen;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px 46%;
}
.lol{
    width: 15px;
    height: 25px;
    border: 2px solid darkgreen;
    transform: rotateY(180deg);
}


/*form*/
.displl{
    display: flex;
}
/**/
/*siz bilan qanday ishlaymiz*/
.ishlo{
    border-radius: 10px;
    padding: 1px 12px 0 4px;
}
/*.kpi{*/
/*    margin-left: 100%;*/
/*}*/
/*.Obunachilar{*/
/*    margin-left: 75%;*/
/*}*/
/*.Shartnoma{*/
/*    margin-left: 50%;*/
/*}*/
/*.Tarif{*/
/*    margin-left: 25%;*/
/*}*/
/*.Forma{*/
/*    margin-left: -30%;*/
/*}*/
.numb.numb1{
    border: solid 10px #F8363C;
}
.numb.numb2{
    border: solid 10px #E032B2;
}
.numb.numb3{
    border: solid 10px #DFE42A;
}
.numb.numb4{
    border: solid 10px #34D6B9;
}
.numb.numb5{
    border: solid 10px #10E114;
}
.numb{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 27px;
    color: white;
    text-align: center;
    margin: 7px;
    margin-bottom: 7px;
    float: left;
}
.bg-ish{
    background-color: #050801;
    border-radius: 10px;
}
.texish.texish1{
    background-color: #F8363C;
}
.texish.texish2{
    background-color: #E032B2;
}
.texish.texish3{
    background-color: #DFE42A;
}
.texish.texish4{
    background-color: #34D6B9;
}
.texish.texish5{
    background-color: #10E114;
}

.texish{
    text-align: center;
    background-color: limegreen;
    width: 200px;
    height: 26px;
    border-radius: 13px;
    position: relative;
    top: -10px;
    float: right;
    left: auto;
    color: white;
    font-weight: bold;
}
.itext{
    margin-top: 26px;
    line-height: 16px;
    font-size: 15px;
    color: #fff;
}
.nishon{
    margin-top: -50px;
}
.nishon img{
    width: 285px;
}
/*fotr*/
.mapjon{
    width: 100%;
    height: 350px;
}
.fotrbg{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background: black;
    color: white;

}




/*and*/
